[Unit]
Description=Temperature to MQTT gateway
Wants=mosquito
After=network.target mosquito

[Service]
Type=simple
ExecStart=/usr/local/bin/temperature2mqtt.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
