Package: temperature2mqtt
Version: 1.0.4-1
Section: base
Priority: optional
Architecture: armhf
Depends: python (>=3.7)
Maintainer: Peter Kropf <pkropf@gmail.com>
Description: temperature2mqtt for Raspberry Pi
 May run on other platforms.
 Run
   sudo systemctl daemon-reload
   sudo vim /usr/local/bin/temperature2mqtt.ini
   sudo systemctl enable temperature2mqtt
   sudo systemctl start temperature2mqtt
